@import "./modules/_mixins.scss";
@import "./modules/_variables.scss";

@import "./style_views/landing.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Ubuntu';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $white;
}

::-webkit-scrollbar {
  width: .8rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: yellow;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: yellow;
}