@import "../modules/_mixins.scss";
@import "../modules/_variables.scss";

.landing-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.landing-header-main {
  display: flex;
  position: fixed;
  width: 100%;
  height: 6rem;
  @include justify-align-center;
  @include row-around;
  background-color: $primary;
  h2 {
    color: $primary-dark;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    background-color: $white;
    padding: 1rem .8rem;
    border-radius: 4rem;
  }
  button {
    background-color: yellow;
    color: $black;
    text-transform: capitalize;
    border: solid 1px $black;
    padding: .6rem 1rem;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
  button:hover {
    background-color: $black;
    color: yellow;
    border: solid 1px yellow;
  }
}

.subheader {
  display: flex;
  width: 100%;
  height: 7rem;
  @include justify-align-center;
  margin-top: 6rem;
  background-color: $primary-dark;
  h2 {
    color: $white;
    text-transform: capitalize;
    font-weight: bold;
    font-size: $medium-text;
    text-align: center;
  }
}

.landing-primary-section {
  display: flex;
  @include content-start-center;
  width: 100%;
  height: calc(100vh - 13rem);
  position: relative;
  z-index: -1;
  img {
    @include full-width-height;
    object-fit: cover;
    position: absolute;
  }
}

.content-primary-section {
  text-align: center;
  @include full-width-height;
  z-index: 1;
  display: flex;
  flex-direction: column;
  @include justify-align-center;
  h1 {
    margin-top: -10rem;
    font-size: 2.8rem;
    color: $white;
  }
}

.landing-name {
  padding: 0 .8rem;
  color: $black;
  border: 1px solid $black;
  border-radius: 1.5rem;
  background-color: yellow;
}

.landing-bio-section {
  width: 100%;
  height: 177rem;
  background-color: pink;
  // background-image: url('./../../img/main-landing.jpg');
}

@media screen and (min-width: 620px) {
  .content-primary-section {
    h1 {
      font-size: 3.5rem;
    }
  }
}